body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  .container {
    display: grid;
    grid-template-areas:
      "div1 div2 div2 div3"
      "div4 div5 div6 div3"
      "div4 div7 div8 div8";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    width: 70%;
    height: 90%;
  }

  .div1 {
    grid-area: div1;
    background-color: #f9e5c8;
    padding: 20px;
    text-align: center;
    height: 200px;
  }

  .div2 {
    grid-area: div2;
    background-color: #a98dfc;
    padding: 20px;
    text-align: center;
    height: ;
  }

  .div3 {
    grid-area: div3;
    background-color: #e6d5ff;
    padding: 20px;
    text-align: center;
  }

  .div4 {
    grid-area: div4;
    background-color: #ffc872;
    padding: 20px;
    text-align: center;
  }

  .div5 {
    grid-area: div5;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .div6 {
    grid-area: div6;
    background-color: #ffc872;
    padding: 20px;
    text-align: center;
  }

  .div7 {
    grid-area: div7;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .div8 {
    grid-area: div8;
    background-color: #a98dfc;
    padding: 20px;
    text-align: center;
  }

  .div {
    border-radius: 8px;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
  }